# =========================
# Python cache / compiled
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual environments
# =========================
venv/
.venv/
.venv1/

# =========================
# IDE / Editor
# =========================
.idea/
.vscode/

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db
codes/__pycache__/chooseLangauge.cpython-311.pyc
*.pyc

